* {
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    line-height: 1.8;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

.menu-link {
@apply relative inline-block px-2 py-1 font-bold tracking-wider text-white;
@apply text-[#DCDCDC];
@apply before:content-[''] before:absolute before:bottom-0 before:left-0;
@apply before:w-full before:h-0.5;
@apply before:bg-[#3DA661] before:scale-x-0 hover:before:scale-x-100;
@apply before:origin-center before:transition-transform before:duration-300;
@apply before:pointer-events-none;
}


.nav-lista a:hover{
    background-color: #222;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.banner-predio{
    display: flex;
    background-image: url(../imgs/banner_IMG_1600.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
}

.banner-predio span{
    display: block;
    font-size: 48px;
    font-weight: bold;
    background-color: #222;
    color: white;
    padding: 16px;
    border-radius: 32px 8px 32px 8px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

.back-projeto{
    text-align: center;
    padding: 48px;
}

.back-projeto h2{
    margin: 16px auto;
    border-bottom: 5px solid black;
    display: inline-block;
    padding: 8px;
}

.back-projeto img{
    margin: 32px auto;
    display: block;
    min-width: 250px;
    max-width: 570px;
    width: 100%;
}

.back-form{
    background-color: #fefefe;
    text-align: center;
    margin: 48px 0 48px 0;

}

.back-form h2{
    margin: 16px 0;
    border-bottom: 5px solid black;
    display: inline-block;
    padding: 8px;
}

.back-form p{
    margin: 32px 0;
}

.button-default{
    padding: 16px;
    color: white;
    background-color: black;
    border-radius: 10px;
    transition: all ease-in-out .4s;
    display: inline-block;
    margin-bottom: 26px;
    max-width: 200px;
    letter-spacing: 1px;
    border: 2px solid black
}

.button-default:hover{
    color: black;
    background-color: white;
    border: 2px solid black
}

.d-flex{
    display: flex;
    justify-content: center;
}

.rodape{
    text-align: center;
    background-color: #333;
    border-bottom: 1px solid transparent;
    margin-top: 8em;
}

.rodape h2{
    color: white;
    border-bottom: 3px solid #aaa;
    display: inline-block;
    padding: 8px;
}

.icones{
    margin: 1em;
}

.icones a{
    color: white;
    transition: all linear .2s; 
    font-size: 22px;
}

.icones a:hover{
    color: #aaa;
}

.fab{
    margin-right: .2em;
}

.copyText{
    color: white;
}